<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Drake Lyrics - Generate Drake lyrics for your captions</title>
    <meta name="title" content="Drake Lyrics - Generate Drake lyrics for your captions">
    <meta name="description:" content="Generate Drake lyrics for using as your captions and bios on Instagram and other social media platforms.">
    <meta name="keywords:" content="captions, drake lyrics, instagram bio, drake instagram captions, drake scoprion captions, drake scoprpion lyrics, drake captions 2020, best drake picture captions, clever drake captions, cute drake captions, drake captions 2019, drake captions 2018, drake captions 2017, drake captions 2016, drake captions 2015, drake captions 2014, drake captions about friendship, drake captions for birthday, drake captions for instagram, drake captions for love, sad drake lyrics, sad drake captions, drake captions for pictures, drake captions for selfies, drake captions for throwing shade, drake captions instagram, drake captions on love, drake captions on squad, drake-lyrics.com, drake funny captions, drake love quote, drake lyrics as captions, drake lyrics for captions, drake lyrics for photo captions, drake lyrics good captions, drake new album captions, drake new quote, drake photo captions, drake picture captions, drake quote about life, drake quote captions, drake quote images, drake quote pics, drake quotes, drake quotes 2020, drake quotes 2019, drake quotes 2018, drake quotes 2017, drake quotes 2016, drake quotes for captions, drake quotes for insta captions, drake quotes instagram captions, drake quotes picture captions, drake rap captions, drake song captions for instagram, drake song lyrics as captions, drake songs as captions, drake songs instagram captions, funny drake instagram captions, funny drake pictures captions, good drake captions, great drake captions, new drake captions, perfect drake captions, drake instagram captions, instagram captions, generate drake captions, generate drake lyrics, drake instagram bio, drake lyrics for bio, drake lyrics as bio">
    <meta name="author" content="Mizanali Panjwani">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Drake Lyrics - Generate Drake lyrics for your captions">
    <meta name="twitter:description" content="Generate Drake lyrics for using as your captions and bios on Instagram and other social media platforms.">
    <meta name="twitter:creator" content="@mizanxali">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <script src="https://kit.fontawesome.com/<%=process.env.fontawesomekey%>.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="content">
      <h1>DRAKE LYRICS</h1>
      <div class="lyrics">
        <i class="fas fa-quote-left"></i>
        <div class="bars">
          <br>
          <% bars.forEach((item, i) => { %>
            <p id="bar<%=i%>"><%=item%></p>
          <%});%>
        </div>
        <i class="fas fa-quote-right"></i>
        <br>
        <h5><%=randomSong.title%></h5>
      </div>
      <br>
      <iframe src="https://open.spotify.com/embed/track/<%=randomSong.spotifyURI%>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
      <br>
      <button class="btn btn-outline-light btn-lg" type="button" onClick="copy()"><i class="fas fa-clipboard"></i>  COPY</button>
      <a class="btn btn-outline-light btn-lg twitter-share-button"><i class="fab fa-twitter"></i>  TWEET</a>
      <br>
      <br>
      <button class="btn btn-light btn-lg" type="button" onClick="window.location.reload();"><i class="fas fa-rocket"></i>  GENERATE</button>
      <br>
      <br>
      <input type="radio" id="gif0" name="bggif" checked>
      <input type="radio" id="gif2" name="bggif">
      <input type="radio" id="gif7" name="bggif">
    </div>
    <div class="footer">
      <div class="footer-text">lyrics via <a href="https://genius.com/">genius</a> · background via <a href="https://giphy.com/">giphy</a> · developed by mizanxali </div>
      <div class="links">
        <a class="btn btn-outline-light" href="https://github.com/mizanxali">
          <i class="fab fa-github"></i>
        </a>
        <a class="btn btn-outline-light" href="https://www.instagram.com/mizanxali/">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="btn btn-outline-light" href="https://twitter.com/mizanxali">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="btn btn-outline-light" href="https://www.linkedin.com/in/mizanxali/">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      <script src="/scripts/main.js" charset="utf-8"></script>
  </body>
</html>
